@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

:root{
    --red:#CF1607;
}

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear; 
}

html{
  font-size:100%;
  overflow-x: auto;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/*nav*/
#menu-bar{
  color: #484848;
  font-size: 1.5rem;
  cursor:pointer;
  color: #fff;
  z-index: 0;
  padding:.4rem .5rem;
}

  #menu-bar.active{
    color:#484848;
    top:1.4vh;
  }

header{
  position:relative;
  top:0;
  left:0;
  right:0;
  background:#020a74;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: .8rem 5%;
  box-shadow: 0px 3px 22.5px rgba(0, 0, 0, 0.08);
  z-index: 0;
}

  header .logo{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
  }
    header .logo img{
      width: 2rem;
    }
    header .logo.active{
      display: none;
    }
  header .navbar{
    position:fixed;
    top: -200%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }

    header .navbar a{
      border-radius: .5rem;
      padding:1.4rem;
      font-size: 1.6rem;
      font-weight: 540;
      background:#fff;
      color: #333333;
    }

    header .navbar .social {
      position:relative;
      left:-14.4px;
      margin-top: 4rem;
    }

      header .navbar .social a{
        font-size: 3rem;
        padding-right: 0rem;
      }

    header .navbar .login{
      display: initial;
    }

    header .navbar.active{
      top:0;
      z-index: -1;
    }
      header .navbar.active .logonav {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
      }
          header .navbar.active .logonav img{
            width: 2.8rem;
          }
  header .account_settings{
    font-size: 1.4rem;
    color: #fff;
  }
  header .language{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:4px;
  }
    header .language.active{
      display: none;
    }
    header .language img{
      height: 17.86px;
      width: 25px;
      border-radius: 4px;
    }
    header .language i{
      color:#fff;
    }

.pagetitle{
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 1.2rem;
}

.img_title{
  width: 100%;
  height: 220px;
}

/*Reservation*/
section{ 
  padding:.6rem 6%;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-weight: 600;
  padding-bottom: .2rem;
}
  .title h2{
    font-size: 18px;
  }
  .title p{
    font-size: 12px;
  }

.location{
  font-size: 12px;
  font-weight: 400;
  color:#333;
  padding-left: 6%;
  margin-bottom: .4rem;
}

.info{
  display: grid;
  color:#484848;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,3rem);
  justify-content: space-between;
}
  .info h3{
    font-size: 11px;
    font-weight: 600;
  }
  .info p{
    font-size: 14px;
    font-weight: 500;
  }
  .info #bg-status{
    width: 86.9px;
    padding: 3.1695px 6.339px;
    border-radius: 15.8475px;
    text-align: center;
  }
  .info #status{
    font-size: 12px;
    font-weight: 600;
  }
  .info #bg-status.reserved{
    background-color: rgba(39, 174, 96, 0.1);
  }
    .info #status.reserved{
      color: #27ae60;
    }
  .info #bg-status.inhouse{
    background-color: rgba(255, 215, 0, 0.1);
  }
    .info #status.inhouse{
      color: rgb(224, 197, 18);
    }
  .info #bg-status.checkout{
    background-color: rgba(255, 0, 0, 0.1);
  }
    .info #status.checkout{
      color: rgb(228, 59, 21);
    }
    

/*Button*/
.checkin_btn{
  width: 100%;
  height: 48px;
  background: #CF1607;
  border-radius: 100px;
  margin-top: -2%;
  color:#fff;
  font-size: 14px;
  font-weight: 600;
}
  #checkin:disabled{
    background: #ddd;
  }

/*Checkin Selection*/
.checkin_selection .title{
  color: #333;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 4%;
}
.checkin_selection .label{
  font-size: 12px;
  font-weight: 400;
  color: #484848;
  padding-bottom: 2%;
}
.checkin_selection .checkbox{
  height: 48px;
  width: 100%;
  border: 0.5px solid #1660CF;
  border-radius: 1.09707px;
  text-align: start;
  padding-left: 3.4%;
  margin-bottom: 4%;
}
  .checkin_selection .checkbox .name{
    color: #333;
    font-size: 14px;
    font-weight: 700;
  }
  .checkin_selection .checkbox .status{
    color: #00b517;
    font-size: 12px;
    font-weight: 500;
  }
  .checkin_selection .verified i{
    display: none;
  }
  .checkin_selection .checkbox.not_verified .status{
    color: #f53838;
  }
.checkin_selection #additionalGuest .not_verified{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  align-items: center;
  padding-right: .64rem;
}
  .checkin_selection #additionalGuest .not_verified .status{
    color:#f53838;
  }
  .checkin_selection #additionalGuest .not_verified i{
    font-size: 19.25px;
    color: #1660CF;
    visibility: hidden;
  }
  .checkin_selection #additionalGuest .not_verified.active{
    background: rgba(22, 96, 207, 0.14);
  }
    .checkin_selection #additionalGuest .not_verified.active i{
      visibility: visible;
    }

.select_all{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  padding-right: .64rem;
  color: #333;
}
  .select_all i{
    font-size: 19.25px;
    display: none;
  }
  .select_all a{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .select_all a.active{
    color: #1660CF;
  }
  .select_all a.active i{
    display: inline;
  }