@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

:root{
    --red:#CF1607;
}

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html{
  font-size:100%;
  overflow-x: auto;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/*disable desktop view*/
.lg-view{
  display: none !important;
}

/*nav*/
#menu-bar{
  color: #484848;
  font-size: 1.5rem;
  cursor:pointer;
  color: #fff;
  z-index: 0;
  padding:.4rem .5rem;
}
  #menu-bar.active{
    top:1.4vh;
    color:#484848;
  }

header{
  position:relative;
  top:0;
  left:0;
  right:0;
  background:#020a74;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: .8rem 5%;
  box-shadow: 0px 3px 22.5px rgba(0, 0, 0, 0.08);
  z-index: 0;
}

  header .logo{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    padding-right: .4%;
  }
    header .logo img{
      width: 2rem;
    }
    header .logo.active{
      display: none;
    }
  header .navbar{
    position:fixed;
    top: -200%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }

    header .navbar a{
      border-radius: .5rem;
      padding:1.4rem;
      font-size: 1.6rem;
      font-weight: 540;
      background:#fff;
      color: #333333;
    }

    header .navbar .social {
      position:relative;
      left:-14.4px;
      margin-top: 4rem;
    }

      header .navbar .social a{
        font-size: 3rem;
        padding-right: 0rem;
      }

    header .navbar .login{
      display: initial;
    }

    header .navbar.active{
      top:0;
      z-index: -1;
    }
      header .navbar.active .logonav {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
      }
          header .navbar.active .logonav img{
            width: 2.8rem;
          }
  header .account_settings{
    font-size: 1.4rem;
    color: #fff;
  }
  header .account_settings.active{
    display: none;
  }
  header .accountMenu{
    position:fixed;
    width: 100%;
    top:0;
    left:120%;
    min-height: 100vh;
    background:rgba(0,0,0,.7);
    z-index: 1000;
  }
    header .accountMenu.active{
      left: 0;
    }
    header .accountMenu .menuList{
      position: relative;
      top: 8.4vh;
      left: 46vw;
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(194, 198, 204, 0.6);
      border-radius: 6px;
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: .64rem 0 1.4rem 1rem;
    }
      header .accountMenu .menuList .smLink{
        font-weight: 500;
      }
      header .accountMenu .menuList a{
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #484848;
      }
        header .accountMenu .menuList .languageList{
          display: grid;
          grid-template-columns: auto auto;
          justify-content: start;
          padding-top: .64rem;
          grid-gap: .4rem;
        }
          header .accountMenu .menuList .languageList img{
            height: 17.86px;
            width: 25px;
            border-radius: 4px;
          }
  header .language{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:4px;
  }
    header .language.active{
      display: none;
    }
    header .language img{
      height: 17.86px;
      width: 25px;
      border-radius: 4px;
    }
    header .language i{
      position: relative;
      color:#fff;
    }

/*welcome section*/
section{
  padding:1.4rem 6%;
}

.welcome h1{
  font-size: 20px;
  font-weight: 700;
  color:#484848;
}

.welcome p{
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}

.wel-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  align-items: center;
  color:#333333;
  font-size: 6.4px;
  font-weight: 700;
}

.food{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: none;
  box-shadow: 0px 10px 40px rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  padding:4px;
}

  .food i{
    font-size:2rem;
    color: #fff;
    cursor:pointer;
    background-color: #ff1f32;
    text-align: center;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 6.88557px;
    margin-bottom: 4%;
  }

.service{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: none;
  box-shadow: 0px 10px 40px rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

  .service i{
    font-size:2rem;
    color: #fff;
    cursor:pointer;
    background-color: #5ac8fa;
    text-align: center;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 6.88557px;
    margin-bottom: 4%;
  }

.help{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: none;
  box-shadow: 0px 10px 40px rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

  .help i{
    font-size:2rem;
    color: #fff;
    cursor:pointer;
    background-color: #ff9017;
    text-align: center;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 6.88557px;
    margin-bottom: 4%;
  }

.history{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: none;
  box-shadow: 0px 10px 40px rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

  .history i{
    font-size:2rem;
    color: #fff;
    cursor:pointer;
    background-color: #8a2be2;
    text-align: center;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 6.88557px;
    margin-bottom: 4%;
  }

/*Just For You*/
.h1-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}

  .h1-container a{
    color:#CF1607;
    font-size: 14px;
    font-weight: 700;
  }

  .h1-container h1{
    font-size: 18px;
    font-weight: 700;
    color:#484848;
  }

.post-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #484848;
}

  .post-box .post {
    flex: 0 1 328px;
  }

    .post-box .post img {
      height:131px;
      width: 100%;
      object-fit: cover;
      padding-bottom: .4rem;
      border-radius: 10px;
      object-position: 100% 10%;
    }

    .post-box .post h3{
      font-size: 18px;
      font-weight: 600;
      padding-bottom: .14rem;
    }

    .post-box .post p{
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 6%;
    }

    .post-box .post p,h3{
      color:#484848 !important;
    }

/*Amenities*/
.amenities .post-box .post {
  flex: 0 1 140px;
}
  .amenities .post-box .post h3{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: .14rem;
  }
  .amenities .post-box .post p{
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 6%;
  }
  .amenities .post-box .post img {
    height:120.57px;
    width: 100%;
    object-fit: cover;
    padding-bottom: .4rem;
    border-radius: 12.0568px;
    object-position: 34% 32%;
  }

